[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = https://github.com/ptbrowne/ptbrowne.github.io.git
	branch = master
